<% if @cart_items %>
  <div>
    <% @cart_items.each do |item| %>
      <div id="id-item-<%= item.id %>">
        <p> <%= item.title %> </p>
        <p> <%= item.short_description %> </p>
        <p> Price : <%= item.price %> </p>
        <p> <a href="/carts/remove_item/<%= item.id %>" data-remote=true> Remove from Cart </a> </p>
      </div>
    <% end %>
    <span id="total"> Total : <%= @total %>  </span>
  </div>
<% end %>