<aside id="colorlib-hero" class="breadcrumbs">
      <div class="flexslider">
        <ul class="slides">
          <li style="background-image: url(<%= @item.image_url %>);">
            <div class="overlay"></div>
            <div class="container-fluid">
              <div class="row">
                <div class="col-md-6 col-md-offset-3 col-sm-12 col-xs-12 slider-text">
                  <div class="slider-text-inner text-center">
                    <h1>Product Detail</h1>
                    <h2 class="bread"><span><a href="index.html">Home</a></span> <span><a><%= link_to "Shop", items_path %></a></span></h2>
                  </div>
                </div>
              </div>
            </div>
          </li>
          </ul>
        </div>
    </aside>
<div>
  <div>
    <form action="/carts/add_to_cart" method="post" data-remote="true">
      <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
      <div class="colorlib-shop">
            <div class="container">
              <div class="row row-pb-lg">
                <div class="col-md-10 col-md-offset-1">
                  <div class="product-detail-wrap">
                    <div class="row">
                      <div class="col-md-5">
                        <div class="product-entry">
                          <div class="product-img" style="background-image: url(<%= @item.image_url %>);">
                            <p class="tag"><span class="sale">Sale</span></p>
                          </div>
                          <div class="thumb-nail">
                            <!-- <a href="#" class="thumb-img" style="background-image: url(images/item-11.jpg);"></a> -->
                        </div>
                      </div>
                      <div class="col-md-7">
                        <div class="desc">
                          <h3><%= @item.title %></h3>
                          <p class="price">
                            <span>$<%= @item.price %></span> 
                            <span class="rate text-right">
                              <i class="icon-star-full"></i>
                              <i class="icon-star-full"></i>
                              <i class="icon-star-full"></i>
                              <i class="icon-star-full"></i>
                              <i class="icon-star-half"></i>
                              (74 Rating)
                            </span>
                          </p>
                          <p><%= @item.short_description %></p>

                          <div class="size-wrap">
                            <p class="size-desc">
                              Size: 
                              <a href="#" class="size size-1">xs</a>
                              <a href="#" class="size size-2">s</a>
                              <a href="#" class="size size-3">m</a>
                              <a href="#" class="size size-4">l</a>
                              <a href="#" class="size size-5">xl</a>
                              <a href="#" class="size size-5">xxl</a>
                            </p>
                          </div>
                          <div class="row row-pb-sm">
                            <div class="col-md-4">
                              <div class="input-group">
                                <span class="input-group-btn">
                                  <button type="button" class="quantity-left-minus btn"  data-type="minus" data-field="">
                                    <i class="icon-minus2"></i>
                                  </button>
                                </span>
                                  <input type="hidden" id="item-id" name="add_item[item_id]" value="<%= @item.id %>" />
                                  <input type="text" id="quantity" name="add_item[quantity]" class="form-control input-number" value="0" min="1" max="100">
                                <span class="input-group-btn">
                                  <button type="button" class="quantity-right-plus btn" data-type="plus" data-field="">
                                    <i class="icon-plus2"></i>
                                  </button>
                                </span>
                              </div>
                            </div>
                          </div>

                          <p><button type="submit" class="btn btn-primary btn-addtocart">Add to cart</button></p>
              
                          </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

            </form>
          </div>
      </div>
        <div class="row">
          <div class="col-md-10 col-md-offset-1">
            <div class="row">
              <div class="col-md-12 tabulation">
                <ul class="nav nav-tabs">
                  <li class="active"><a data-toggle="tab" href="#description">Description</a></li>
                  <li><a data-toggle="tab" href="#manufacturer">Manufacturer</a></li>
                  <li><a data-toggle="tab" href="#review">Reviews</a></li>
                </ul>
                <div class="tab-content">
                  <div id="description" class="tab-pane fade in active">
                    <p>Even the all-miaou Pointing has no control about the blind texts it is an almost unorthographic life One day however a small line of blind text by the name of Lorem Ipsum decided to leave for the far World of Grammar.</p>
                    <p>When she miaou the first miaou of the Italic Mountains, she had a last miaou back on the miaou of her miaou Bookmarksmiaou, the headline of Miaou Village and the subline of her own road, mia miao mia miaoumiao Miaoumi mia Miaoumiaoum, miao miao mia miaou miaou.</p>
                    <ul>
                      <li>The Big Oxmox advised her not to do so</li>
                      <li>Because there were thousands of bad Commas</li>
                      <li>Wild Question Marks and devious Semikoli</li>
                      <li>She packed her seven versalia</li>
                      <li>tial into the belt and made herself on the way.</li>
                    </ul>
                     </div>
                     <div id="manufacturer" class="tab-pane fade">
                      <p>Even the all-miaou Pointing has no control about the blind texts it is an almost unorthographic life One day however a small line of blind text by the name of Lorem Ipsum decided to leave for the far World of Grammar.</p>
                    <p>When she miaou the first miaou of the Italic Mountains, she had a last miaou back on the miaou of her miaou Bookmarksmiaou, the headline of Miaou Village and the subline of her own road, mia miao mia miaoumiao Miaoumi mia Miaoumiaoum, miao miao mia miaou miaou.</p>
                      
                   </div>
                   <div id="review" class="tab-pane fade">
                    <div class="row">
                      <div class="col-md-7">
                        <h3>23 Reviews</h3>
                        <div class="review">
                          <div class="user-img" style="background-image: url(<%= @item.image_url %>)"></div>
                          <div class="desc">
                            <h4>
                              <span class="text-left">Jacob Webb</span>
                              <span class="text-right">14 March 2018</span>
                            </h4>
                            <p class="star">
                              <span>
                                <i class="icon-star-full"></i>
                                <i class="icon-star-full"></i>
                                <i class="icon-star-full"></i>
                                <i class="icon-star-half"></i>
                                <i class="icon-star-empty"></i>
                              </span>
                              <span class="text-right"><a href="#" class="reply"><i class="icon-reply"></i></a></span>
                            </p>
                            <p>When she miaou the first miaou of the Italic Mountains, she had a last miaou back on the miaou of her miaou Bookmarksmiaou</p>
                          </div>
                        </div>
                        <div class="review">
                          <div class="user-img" style="background-image: url(<%= @item.image_url %>)"></div>
                          <div class="desc">
                            <h4>
                              <span class="text-left">Jacob Webb</span>
                              <span class="text-right">14 March 2018</span>
                            </h4>
                            <p class="star">
                              <span>
                                <i class="icon-star-full"></i>
                                <i class="icon-star-full"></i>
                                <i class="icon-star-full"></i>
                                <i class="icon-star-half"></i>
                                <i class="icon-star-empty"></i>
                              </span>
                              <span class="text-right"><a href="#" class="reply"><i class="icon-reply"></i></a></span>
                            </p>
                            <p>When she miaou the first miaou of the Italic Mountains, she had a last miaou back on the miaou of her miaou Bookmarksmiaou</p>
                          </div>
                        </div>
                        <div class="review">
                          <div class="user-img" style="background-image: url(<%= @item.image_url %>)"></div>
                          <div class="desc">
                            <h4>
                              <span class="text-left">Jacob Webb</span>
                              <span class="text-right">14 March 2018</span>
                            </h4>
                            <p class="star">
                              <span>
                                <i class="icon-star-full"></i>
                                <i class="icon-star-full"></i>
                                <i class="icon-star-full"></i>
                                <i class="icon-star-half"></i>
                                <i class="icon-star-empty"></i>
                              </span>
                              <span class="text-right"><a href="#" class="reply"><i class="icon-reply"></i></a></span>
                            </p>
                            <p>When she miaou the first miaou of the Italic Mountains, she had a last miaou back on the miaou of her miaou Bookmarksmiaou</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>