<div>
  <div>
    <form action="/carts/add_to_cart" method="post" data-remote="true">
      <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
      <div class="colorlib-shop">
        <div class="container">
          <div class="row row-pb-lg">
            <div class="col-md-10 col-md-offset-1">
              <div class="product-detail-wrap">
                <div class="row">

                  <div class="col-md-5">
                    <div class="product-entry">
                      <div class="product-img" style="background-image: url(<%= @item.image_url %>);">
                        <p class="tag"><span class="sale">Sale</span></p>
                      </div>
                      <div class="thumb-nail">
                        <a href="#" class="thumb-img" style="background-image: url(images/item-11.jpg);"></a>
                        <a href="#" class="thumb-img" style="background-image: url(images/item-12.jpg);"></a>
                        <a href="#" class="thumb-img" style="background-image: url(images/item-16.jpg);"></a>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-7">
                    <div class="desc">
                      <h3><%= @item.title %></h3>
                      <p class="price">
                        <span>$<%= @item.price %></span> 
                      </p>
                      <p><%= @item.short_description %></p>
                      <div class="row row-pb-sm"> 
                        <div class="col-md-4">
                          <div class="input-group">
                            <span class="input-group-btn">
                              <button type="button" class="quantity-left-minus btn"  data-type="minus" data-field="">
                                <i class="icon-minus2"></i>
                              </button>
                            </span>
                            <input type="hidden" id="item-id" name="add_item[item_id]" value="<%= @item.id %>" />
                            <input type="text" id="quantity" name="add_item[quantity]" class="form-control input-number" value="0" min="1" max="100">
                            <span class="input-group-btn">
                              <button type="button" class="quantity-right-plus btn" data-type="plus" data-field="">
                                <i class="icon-plus2"></i>
                              </button>
                            </span>
                          </div>
                        </div>
                      </div>

                      <p>
                        <button type="submit" class="btn btn-primary btn-addtocart">
                          Add to cart
                        </button>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
    </div>
</div>