<nav class="colorlib-nav" role="navigation">
	<div class="top-menu">
		<div class="container">
			<div class="row">
				<div class="col-xs-2">
					<div id="colorlib-logo">
            <%= link_to "Store", root_path, id:"colorlib-logo" %>
          </div>
				</div>
				<div class="col-xs-10 text-right menu-1">
					<ul>
						<li class="active"><a href="index.html">Home</a></li>
						<li class="has-dropdown">
							<a href="shop.html">Shop</a>
							<ul class="dropdown">
								<li><a href="product-detail.html">Product Detail</a></li>
								<li><a href="cart.html">Shipping Cart</a></li>
								<li><a href="checkout.html">Checkout</a></li>
								<li><a href="order-complete.html">Order Complete</a></li>
								<li><a href="add-to-wishlist.html">Wishlist</a></li>
							</ul>
						</li>
						<li><a href="blog.html">Blog</a></li>
						<li><a href="about.html">About</a></li>
						<li><a href="contact.html">Contact</a></li>
            <li>
              <% if current_user %>
                <%= link_to "My Cart", cart_path(@cart) %>
              <% end %>
            </li>
						<!-- <li><a href="cart.html"><i class="icon-shopping-cart"></i> Cart [0]</a></li> -->
            <li class="has-dropdown">
              <a href="#">User</a>
              <ul class="dropdown">
                <% unless user_signed_in? %>
                  <li>
                    <%= link_to "Log in", new_user_session_path %>
                  </li>
                  <li>
                    <%= link_to "Sign up", new_user_registration_path %>
                  </li>
                  <% else %>
                  <li>
                    <%= link_to "Log out", destroy_user_session_path, method: :delete %>
                  </li>
                  <li>
                    <% if current_user %>
                      <%= link_to "My Cart", cart_path(@cart) %>
                    <% end %>
                  </li>
                <% end %>
              </ul>
            </li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</nav>